.home
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #EBC5C5;
}

/*
TIMELINE
 */

.timeLine
{
    position: absolute;
    display: flex;
    align-items:center;
    right: 20px;
    top: 10%;
    width: 33px;
    height: 80%;
}

.line
{
    position: relative;
    border-bottom: 600px solid #F5DEDE;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 10%;
}

.timeLine-cursor
{
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    border-radius: 50%;
    background: #CA9797;
    cursor: pointer;
    display: block;
    z-index: 100001;
}
/*
YEAR ACTION
 */
.year-action
{
    position: absolute;
    top: 11%;
    left: 8%;
    font-size: 8rem;
    font-family: "Ribes";
    color: #000;
    opacity: 0;
    transition: opacity 2s;

}


/*
    Vinyle
 */

.vinyle
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.poster
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 2s;
}

.show
{
    opacity: 1!important;
}
.poster-affiche
{
    position: absolute;
    border-radius: 50%;
    height: 180px;
    opacity: 0;
    transition: opacity 2s;

}

.vinile-poster
{
    position: absolute;
}

.date-vinyle
{
    position: absolute;
    color: #EBC5C5;
    font-size: 11rem;
    z-index: 10000;
    opacity: 0;
    transition: opacity 2s;
    user-select: none; /* Propriété standard */

}