.home
{
    position: relative;
    height: 100vh;
    width: 100vw;
    transition: all 1.5s ease-in;
    will-change: auto;
    overflow: hidden;

}
body
{
    overflow: hidden;

}
/*
TIMELINE
 */

.timeLine
{
    position: absolute;
    display: flex;
    align-items:center;
    right: 20px;
    top: 10%;
    width: 33px;
    height: 80%;
}

.line
{
    position: relative;
    border-bottom: 600px solid #FFFFFF60;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 10%;
}

.timeLine-cursor
{
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    border-radius: 50%;
     background: var(--selection-background);
    cursor: pointer;
    display: block;
    z-index: 100001;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease-in , background 1.5s ease-in;
}
/*
YEAR ACTION
 */
.year-action
{
    position: absolute;
    top: 11%;
    left: 8%;
    font-size: 8rem;
    font-family: "Ribes";
    color: #000;
    opacity: 0;
    transition: opacity 2s;
    z-index: 10000;
    user-select: none; /* Propriété standard */

}


/*
    Vinyle
 */

.vinyle
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.poster
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 2s;
}

.show
{
    opacity: 1!important;
}
.poster-affiche
{
    position: absolute;
    border-radius: 50%;
    height: 180px;
    opacity: 0;
    transition: opacity 2s;
    user-select: none; /* Propriété standard */

}

.vinile-poster
{
    position: absolute;
}

.date-vinyle
{
    position: absolute;
    font-size: 11rem;
    z-index: 10000;
    opacity: 0;
    transition: opacity 2s;
    user-select: none; /* Propriété standard */

}


/*
        Button Enter
 */

.enter
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 15%;
    font-size: 44px;
    color: #000;
    font-family: sourceSansProBold;
}
:root {
    --selection-background: #000000;
}

.enter::before
{
    content: '';
    margin-right: 15px;
    border-width: 15px 0px 15px 25px  ;
    border-style: solid;
    transition: all 1.5s ease-in;
    border-color:  transparent  var(--selection-background) transparent var(--selection-background)  ;
}

