
/*
        2010 - 2019
 */
.color_primaire_2010
{
    color: #47B4AB ;
}

.color_secondaire_2010
{
    color: #F2D2D6;
}

.color_tertiaire_2010
{
    color: #47B4AB;
}

.font_2010
{
    font-family: Hero;
}


/*
        2000- 2009
 */
.color_primaire_2000
{
    color: #47B4AB ;
}

.color_secondaire_2000
{
    color: #F2D2D6;
}

.color_tertiaire_2000
{
    color: #47B4AB;
}

.font_2000
{
    font-family: Constantia;
}

/*
        1990- 1999
 */
.color_primaire_1990
{
    color: #47B4AB ;
}

.color_secondaire_1990
{
    color: #F2D2D6;
}

.color_tertiaire_1990
{
    color: #47B4AB;
}

.font_1990
{
    font-family: Cintra;
}


/*
        1980- 1989
 */
.color_primaire_1980
   {
       color: #47B4AB ;
   }

.color_secondaire_1980
{
    color: #F2D2D6;
}

.color_tertiaire_1980
{
    color: #47B4AB;
}

.font_1980
{
    font-family: drive;
}
